<!DOCTYPE html>
<html>
	<head>
		<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <meta name="viewport" content="width=device-width,initial-scale=1,maximum-scale=1">
		<title>Webji</title>
		<script src="//ajax.googleapis.com/ajax/libs/jquery/2.0.3/jquery.min.js"></script>
		<script type="text/javascript">
					var pos = {
            x: {{ position.x }},
						y: {{ position.y }},
					},
					fullSize = {
            w: {{ board.w }},
						h: {{ board.h }},
					},
					actualSize = {};
		</script>
		<script type="text/javascript" src="/js/webji.js"></script>
		<script type="text/javascript" src="/js/client.js"></script>
    <link href="http://fonts.googleapis.com/css?family=Orbitron:500" rel="stylesheet" type="text/css">
		<style type="text/css">
			body {
				background: #C7A13E;
			}

      footer {
        text-align: right;
      }

      a {
        display: inline-block;
        font-family: Orbitron, sans-serif;
        color: #E0B546;
        text-shadow: 0px 0px 4px #5A3111;
        text-decoration: none;
        padding: 0.5rem 1.0rem;

        transition: 0s 0.15s color;
      }

      a:hover { color: #E4BE5B; }

			#board {
				border-bottom: 3px solid #5A3111;
				box-shadow: 0px 1px 4px #5A3111;
				width: 100%;
				height: 100%;
			}

			#planchette { width: 200px; }
		</style>
	</head>
	<body style="margin:0;padding:0;">
		<div id="container" style="position:relative;overflow:hidden;">
			<img id="board" src="img/board.png">
			<div id="planchette" style="position:absolute;left:<%= $x %>px;top:<%= $y %>px;"><img src="img/planchette.png" style="overflow:hidden;"></div>
		</div>
    <footer><a href="http://oven.mndktchn.com/">Made by MNDKTCHN</a></footer>
    <script>
      (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
      (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
      m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
      })(window,document,'script','//www.google-analytics.com/analytics.js','ga');

      ga('create', 'UA-1768996-27', 'mndktchn.com');
      ga('send', 'pageview');
    </script>
	</body>
</html>
