<!DOCTYPE html>
<html>
	<head>
		<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
		<title>Webji</title>
	</head>
	<body style="margin:0;padding:0;">
		<script type="text/javascript">
			window.open('/', 'popup', 'width=1280,height=720,screenX=200,left=200,screenY=200,top=200,toolbar=no,status=no,location=no,menubar=no,directories=no,scrollbars=no,resizable=no');
		</script>
	</body>
</html>
