<!DOCTYPE html>
<html>
	<head>
		<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
		<meta http-equiv="X-UA-Compatible" content="chrome=1">
		<title>Webji</title>
		<script type="text/javascript" src="js/prototype.js"></script>
		<script type="text/javascript" src="js/scriptaculous.js"></script>
		<script type="text/javascript" src="js/webji.js"></script>
	</head>
	<body style="margin:0;padding:0;">
		<script type="text/javascript" src="http://ajax.googleapis.com/ajax/libs/chrome-frame/1/CFInstall.min.js"></script>
	 	<div id="placeholder"></div>
		<script>
			CFInstall.check({
				node: "placeholder",
				destination: "http://webji.heroku.com/"
			});
		</script>
		<div id="container" style="position:relative;overflow:hidden;">
			<img src="img/board.png" />
			<div id="planchette" style="position:absolute;left:<%= $x %>px;top:<%= $y %>px;"><img src="img/planchette.png" style="overflow:hidden;" /></div>
			<div id="x" style=""><%= $x %></div>
			<div id="y" style=""><%= $y %></div>
			<div id="z" style=""></div>
		</div>
	</body>
</html>
